*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

body{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.calculatrice{
    background-color: grey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px black;
}

.screen{
    width: 100%;
    height: 100px;
    background: linear-gradient(#727272 0%, #5d5d5d 100%) ;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;
    color: white;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 7px;
}

button{
    border-radius: 10px;
    box-shadow: #9f9f9f 1px 3px;
    border: none;
    outline: none;
    font-size: 17px;
    background: linear-gradient(white 0%, #b6b6b6 100%);
    cursor: pointer;
}

button:active{
    box-shadow: #9f9f9f 1px 1px;
    transform: translateY(2px);
}

#special{
    background: linear-gradient(deepskyblue 0%, #008cbb 100%);
    grid-column: span 2;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

#delete{
    background: linear-gradient(#ff8800 0%, #b46001 100%);
    font-weight: bold;
    color: white;
}



